mixin radio(args)
	+b.radio(id=attributes.id ? attributes.id : null, class=attributes.class ? attributes.class : null)

		input(
		id=args.id
		type='radio'
		name=args.name
		value=args.value ? args.value : 'true'
		checked=args.checked
		disabled=args.disabled
		)
		label(
		for=args.id
		)
			!= args.radiolabel
